.center-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modals .row{
  margin-bottom: 20px;
}

.carousel-border {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.buttons{
  width: 100px;
}